main:has(.package-logo) h1#_top {
  display: none;
}

.package-logo {
  text-align: center;
  margin-bottom: 1rem;
}

.package-logo .light {
  display: inline;
}

.package-logo .dark {
  display: none;
}

:root[data-theme="dark"] .package-logo .light {
  display: none;
}

:root[data-theme="dark"] .package-logo .dark {
  display: inline;
}
